/stock-item/nbproject/private/
/stock-item/build/
/stock-item/dist/
/ArrayPrac/nbproject/private/
/ArrayPrac/build/
/ArrayPrac/dist/
/Ticket/nbproject/private/
/Ticket/build/
/Company/nbproject/private/
/Book/nbproject/private/
/Book/build/
/ObjectsAndClasses/nbproject/private/
/ObjectsAndClasses/build/
/Counter/nbproject/private/
/Counter/build/
/CodesDope/nbproject/private/
/CodesDope/build/
/Chapter1/nbproject/private/
/Chapter1/build/
