/stock-item/nbproject/private/
/stock-item/build/
/stock-item/dist/
/ArrayPrac/nbproject/private/
/ArrayPrac/build/
/ArrayPrac/dist/
/Ticket/nbproject/private/
/Ticket/build/
/Company/nbproject/private/
/Book/nbproject/private/
/Book/build/
/ObjectsAndClasses/nbproject/private/
/ObjectsAndClasses/build/
/Counter/nbproject/private/
/Counter/build/
/CodesDope/nbproject/private/
/CodesDope/build/
/Chapter1/nbproject/private/
/Chapter1/build/
/Chapter4/nbproject/private/
/Chapter4/build/
/Chapter6/nbproject/private/
/Chapter6/build/
/Chapter7/nbproject/private/
/Chapter7/build/
/Chapter8/nbproject/private/
/Chapter8/build/
/Chapter9/nbproject/private/
/Chapter9/build/
/CurrencyConverter/nbproject/private/
/CurrencyConverter/build/
/Examples/nbproject/private/
/Examples/build/
/ExpenseTracker/nbproject/private/
/ExpenseTracker/build/
/StanfordProgMeth/nbproject/private/
